{% extends "AnisCommerceBundle::base_layout.html.twig" %}
{% block title %}
    <title>Clients</title>
{% endblock %}
{% block style %}
    <style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        .art-content .art-postcontent-0 .layout-item-0 { margin-bottom: 5px;  }
        .art-content .art-postcontent-0 .layout-item-1 { color: #404040; border-spacing: 10px 0px; border-collapse: separate;  }
        .art-content .art-postcontent-0 .layout-item-2 { color: #292929; background: #C3D3E4; padding: 10px; vertical-align: top; border-radius: 40px;  }

        tr.entite {background-color: #61dd5b;}
        tr.entite:nth-child(4n+1) {background-color: #44aa66;}
    </style>
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~   asset('bundles/aniscommerce/js/anis.popup.js') }}" ></script>
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~   asset('bundles/aniscommerce/css/anis.popup.css') }}" />
    <script type="text/javascript" src="{{ app.request.schemeAndHttpHost ~   asset('bundles/aniscommerce/js/custom.anis.functions.js') }}" ></script>
{% endblock %}
{% block content %}
    <h1> </h1>

    <div class="art-layout-wrapper clearfix">
        <div class="art-content-layout">
            <div class="art-content-layout-row">
                <div class="art-layout-cell art-content clearfix">
                    <article class="art-post art-article">


                        <div class="art-postcontent art-postcontent-0 clearfix">
                            <div class="art-content-layout-wrapper layout-item-0">
                                <div class="art-content-layout layout-item-1">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-2"  >
                                            <table class="art-article entities" style="box-shadow: 5px 5px 1px #222;border-radius: 20px ;background-color: #E6E6E6 ;width: 100%;">
                                                <tbody>

                                                <tr>
                                                    <td style="word-spacing: 4px; line-height: 150%; text-align: left; margin-top: 15px; margin-bottom: 15px; vertical-align: middle; width: 50%; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; border-radius: 40px;background-color: #ffffff; padding: 20px" colspan="10"><span style="font-weight: bold; font-size: 16px; color: rgb(13, 53, 15); text-shadow: rgba(60, 23, 23, 0.496094) 0 -1px 0;"><center>Clients</center></span><br></td>
                                                </tr>
                                                <tr>
                                                    <th style=" width: 20px; ">Id</th>
                                                    <th style=" ">Carte Identit&eacute;</th>
                                                    <th style=" ">Pr&eacute;nom</th>
                                                    <th style=" ">Nom</th>
                                                    <th style=" ">T&eacute;l&eacute;phone</th>
                                                    <th style=" ">Age</th>
                                                    <th style=" ">Email</th>
                                                    <td style="width: 50px; vertical-align: middle; text-align: right; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;">
                                                        <!--<a href="{{ path("client_new") }}" class="art-button"><span style="text-shadow: rgba(23, 23, 23, 0.496094) 0 -1px 0;">Export</span></a>-->
                                                        <a href="{{ path("client_new") }}" class="art-button"><span style="text-shadow: rgba(23, 23, 23, 0.496094) 0 -1px 0;">Nouveau Client</span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th style=" width: 20px; "><input type="number" style="width: 70px;height: 20px" min=0 class="search id" placeholder="ID" /> </th>
                                                    <th style=" "><input type="text" class="search cin" placeholder="CIN"/></th>
                                                    <th style=" "><input type="text" class="search firstname" placeholder="Pr&eacute;nom"/></th>
                                                    <th style=" "><input type="text" class="search lastname" placeholder="Nom"/></th>
                                                    <th style=" "><input type="text" class="search tel" placeholder="tel"/></th>
                                                    <th style=" "><input type="number" style="width: 70px;height: 20px" min=0 max=100  class="search age" placeholder="Age"/></th>
                                                    <th style=" "><input type="email" class="search emailAddress" placeholder="Email"/></th>
                                                    <td style="width: 50px; vertical-align: middle; text-align: right; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;">
                                                        <!--<a href="{{ path("client_new") }}" class="art-button"><span style="text-shadow: rgba(23, 23, 23, 0.496094) 0 -1px 0;">Export</span></a>-->
                                                        <a class="art-button"><span  onclick="search('{{ path('client_search') }}', ['id', 'cin', 'firstname', 'lastname', 'tel', 'age', 'emailAddress']);" style="text-shadow: rgba(23, 23, 23, 0.496094) 0 -1px 0;">Recherche</span></a>
                                                    </td>
                                                </tr>
                                                <tr style="height: 0 !important; max-height: 2px !important;background-color: #636363"><td colspan="10" ></td></tr>
                                                {% for entity in entities %}

                                                    <tr class="entite" style="border-radius: 20px ;">
                                                        <td  style="text-align: center; vertical-align: middle;width: 20px !important;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">
                                                             <ul>

                                                                <li style="text-align: left;">
                                                                    <span class="id">
                                                                        {{ entity.id }}{#{% if entity.firstname %} ( Cr&eacute&eacutee le : {{ entity.dateCreation|date('Y-m-d') }}){% endif %}#}
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">

                                                                <span class="cin" >{{ entity.cin }}</span>

                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;   border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">
                                                            <span class="firstname" > {{ entity.firstname }}</span>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">

                                                                <span class="lastname" >{{ entity.lastname }}</span>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">

                                                           <span class="tel" > {{ entity.tel }}</span>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">

                                                            <span class="age" class="id">{{ entity.age }}</span>
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;  border-top-width: 0px; border-right-width: 2px; border-bottom-width: 0px; border-left-width: 0px;">

                                                            <a style="color : #000000" href="mailto:{{ entity.emailAddress }}" ><span class="emailAddress">{{ entity.emailAddress }}</span></a>
                                                       </td>
                                                        <td style="width: 200px; vertical-align: middle; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
                                                            <table class="art-article" style="border-radius: 20px ;margin-left: auto;">
                                                                <tbody>
                                                                <tr>
                                                                    {#<td style="text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; width: 50%;"><a href="{{ path('client_show' , {'id': entity.id}) }}" class="art-button show"><img width="16px" title="details" src="{{ asset("bundles/aniscommerce/images/voir.png") }}" /></a></td>#}
                                                                    <td style="width: 68px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><a href="{{ path('client_edit' , {'id': entity.id}) }}" class="art-button edit"><img width="16px" title="edit" src="{{ app.request.schemeAndHttpHost ~   asset("bundles/aniscommerce/images/edit.png") }}" /></a></td>
                                                                    <td style="text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><a onclick="deleteUser('{{ path('client_delete' , { 'id' : entity.id}) }}' , this);" class="art-button delete"><img width="16px" title="delete" src="{{ app.request.schemeAndHttpHost ~   asset("bundles/aniscommerce/images/supprimer.png") }}" /></a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr style="height: 0px !important; max-height: 2px !important;background-color: #636363"><td colspan="10" ></td></tr>

                                                {% endfor %}

                                                <tr class="entitiesfooter">
                                                    <td style="word-spacing: 4px; line-height: 150%; text-align: left; margin-top: 15px; margin-bottom: 15px; vertical-align: middle; width: 50%; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; border-radius: 40px;background-color: #ffffff; padding: 20px" colspan="10">
                                                        <span style="font-weight: bold; font-size: 10px; color: rgb(13, 53, 15); text-shadow: rgba(60, 23, 23, 0.496094) 0 -1px 0;">
                                                            <center>{% if page > 1 %}<a href="{{ path('client1', {page : 1}) }}" class="art-button"  > << First</a><a href="{{ path('client1', {page : page-1}) }}" class="art-button"  > < Previous</a>{% endif %} &nbsp;&nbsp; page {{ page }}/{{ pages }} &nbsp;&nbsp; {% if page < pages %}<a href="{{ path('client1', {page : page+1}) }}" class="art-button"  >Next ></a><a href="{{ path('client1', {page : pages}) }}" class="art-button"  >Last >></a>{% endif %}</center>
                                                        </span>
                                                        <br>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


